<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - imgbeam</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Reset your password for imgbeam.  Imgbeam is the best place to store and share your digital world."
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <!-- <meta name="theme-color" content="#ffffff" /> -->
    <script
      src="https://kit.fontawesome.com/0b82ba70b0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="background: #222; color: white">
    <%- include('./components/header') %>
    <div
      class="container mx-auto h-screen w-screen flex flex-col justify-center items-center"
    >
      <div class="max-w-xl p-4" style="background: #373737">
        <h1 class="text-2xl font-bold">Password Reset</h1>
        <h4 class="pt-2">Account associated with <%=email%></h4>
        <form
          class="flex flex-col pt-4"
          action="/password/reset?email=<%=email%>&token=<%=token%>"
          method="POST"
        >
          <label class="mt-3 text-sm font-bold block" for="password1">New Password</label>
          <input
            class="bg-gray-700 w-full p-3 outline-none"
            type="password"
            name="password1"
            id="password1"
          />
          <label class="mt-3 text-sm font-bold block" for="password2">Confirm New Password</label>

          <input
            class="bg-gray-700 w-full p-3 outline-none"
            type="password"
            name="password2"
            id="password2"
          />
          <input class="p-2 w-full mt-3 hover:opacity-75 font-bold text-white" type="submit" value="Submit" style="background: rgb(74, 212, 147);" />
        </form>
        <% if(error.length > 0) { %>
        <div class="text-red-400 font-bold text-center w-full"><%=error%></div>
        <% } %>
      </div>
    </div>
  </body>
</html>
